* text=auto
_headers text eol=lf
public/_headers text eol=lf
.assetsignore text eol=lf
public/.assetsignore text eol=lf
*.jsonc text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf